:root {
	--third-font: "Oleo Script";
	--secondary-font: "Raleway";
	--main-font: "Roboto";

	/* кольори тексту */
	--black-txt-cl: #000000;
	--accent-txt-cl: #2196f3;
	--dark-txt-cl: #212121;
	--light-txt-cl: #ffffff;
	--gray-txt-cl: #757575;

	/* кольори фону */
	--gray-bgr-cl: #f5f4fa;
	--dark-bgr-cl: #2f303a;
	--light-bgr-cl: #ffffff;
	--blue-but-cl: #188ce8;
	/* колір бордера */
	--color-border-porfolio: #eeeeee;
	/* колр іконок в ховері, фокусі */
	--background-color-icons: #2196f3;
	--color-icons: #ffffff;

	/* змінні в сітці в портфоліо */
	--csrd-set-gap: 30px;
	--csrd-set-marg: 15px;
	/* зміні кольори в таймінгах */
	--timing-variable: cubic-bezier(0.4, 0, 0.2, 1);
}
/* шабдлон */
/* <svg width="" height="">
            <use href=""></use>
          </svg> */
/* загальні властивості  */
body {
	letter-spacing: 0.03em;
	font-size: 14px;
	color: var(--dark-txt-cl);
	background-color: var(--light-bgr-cl);
	font-family: "Roboto", sans-serif;
}

html {
	box-sizing: border-box;
}

/* reeset */
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

/* загальні властивоті зображень */
img {
	display: block;
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}
/* падінги секцій */
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* бокси для центруваня контенту */
.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* часткове скиданя властивостей списків */
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
/* часткове скиданя властивостей списків */
a {
	text-decoration: none;
}
.main-nav {
	display: flex;
}

/* хедер початок */
/* логотип в хедері */
.header-logo {
	font-family: var(--secondary-font);
	font-weight: 400;
	color: var(--black-txt-cl);
	font-size: 26px;
	line-height: 1.2px;
	padding-top: 24px;
	padding-bottom: 25px;
}

.logo {
	font-family: var(--secondary-font);
	font-weight: 700;
	color: var(--accent-txt-cl);
}
/* блок нав в шапці  */
.header-list-item:not(:last-child) {
	margin-right: 50px;
}

.header-list {
	display: flex;
	margin-left: 93px;
}

.header-nav {
	display: flex;
	align-items: center;
}

/* (а) посилання в блоці нав */
.header-link {
	padding-top: 32px;
	padding-bottom: 32px;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.33;
	letter-spacing: 0.02em;
	color: var(--dark-txt-cl);

	transition: color 250ms var(--timing-variable);
}

.header-link:hover,
.header-link:focus {
	color: var(--accent-txt-cl);
}
/* підсвітка кнопки активної сторінки */

.current {
	position: relative;
	color: var(--accent-txt-cl);

	transition: color 250ms var(--timing-variable);
}

.current::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	display: inline-block;
	background: var(--accent-txt-cl);
	border-radius: 2px;
}

/* блок контакти в шапці */
.header-list-cont {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header-cont {
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;
	align-items: center;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--gray-txt-cl);

	transition: color 250ms var(--timing-variable);
}

.header-cont:hover,
.header-cont:focus {
	color: var(--accent-txt-cl);
}
.icon-cont {
	margin-right: 10px;
	fill: currentColor;
}
.icon-cont:hover,
.icon-cont:focus {
	fill: currentColor;
}

/* сеrція герой */
.hero {
	text-align: center;
	padding: 200px 0;
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../image/img-bg/Img-fon-hero.webp"), url("../image/img-bg/Img-fon-hero.jpg");
	background-color: #2f303a;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* заголовок в герой */
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--light-txt-cl);

	width: 696px;
	margin: 0 auto;
	margin-bottom: 30px;
}

/* кнопка в секції герой */
.hero-button {
	display: block;
	min-width: 200px;
	min-height: 50px;
	margin-right: auto;
	margin-left: auto;
	border: 0;
	padding: 10px 32px;

	font-family: inherit;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	border-radius: 4px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	color: var(--light-txt-cl);
	background-color: var(--accent-txt-cl);

	transition: background-color 250ms var(--timing-variable);
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--blue-but-cl);
}

/* features  */

/* прихований заголовок */
.visualli-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* ul в боксі особливості */
.main-list {
	display: flex;
}

.main-list-item {
	width: 270px;
}
.main-list-item,
.icon-box-main :not(:last-child) {
	margin-right: 30px;
}

.icon-box-main {
	display: flex;
	content: "";
	height: 120px;
	width: 270px;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f5f4fa;
}

/* заголовоки в особливості */
.action-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--dark-txt-cl);

	margin-bottom: 50px;
}

/*h3 увага до деталей */
.main-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	-bottom: 10px;
}

.upertitle {
	font-size: 14px;
	line-height: 1.71;
	color: var(--gray-txt-cl);
}

/* розділ що ми робимо */

.services {
	padding-top: 0;
}
.services-item:not(:last-child) {
	margin-right: 30px;
}

.services-title {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.description-services {
	position: absolute;
	margin-bottom: 0;
	width: 100%;

	padding-bottom: 27px;
	padding-top: 27px;

	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
	background: rgba(47, 48, 58, 0.8);
}

/* секція наша команда  */
.group {
	background-color: var(--gray-bgr-cl);
}

.flex-group {
	display: flex;
}

.group-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--dark-txt-cl);

	margin-bottom: 50px;
}

.title-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	margin-bottom: 10px;
	color: var(--dark-txt-cl);
}

.prof {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: var(--gray-txt-cl);
}
.photo-list:not(:first-child) {
	margin-left: 30px;
}

.pers-card {
	padding-top: 30px;
	padding-bottom: 30px;
}

.photo-list {
	background-color: var(--light-txt-cl);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

/* іконки соц мереж */
.team-social-icons {
	display: flex;
	height: 44px;
	margin-top: 20px;
	padding: 0;
	justify-content: center;
}
.team-social-icon-item:not(:last-child) {
	margin-right: 10px;
}
.social-link-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: #afb1b8;

	transition: background-color 250ms var(--timing-variable), color 250ms var(--timing-variable);
}
.social-icon {
	fill: currentColor;
}
.social-link-icon:hover,
.social-link-icon:focus {
	background-color: var(--background-color-icons);
	color: var(--color-icons);
}

/* постійні кліенти */
.text-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	margin-bottom: 50px;
}

.clients-icon-list {
	display: flex;
}
.clients-icon-item:not(:last-child) {
	margin-right: 30px;
}
.clients-icon-link {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	color: #afb1b8;

	transition: background-color 250ms var(--timing-variable), color 250ms var(--timing-variable);
}
.clients-icon {
	fill: currentColor;
}
.clients-icon-link:hover,
.clients-icon-link:focus {
	color: var(--accent-txt-cl);
	border-color: var(--accent-txt-cl);
}

/* портфоліо початок */
.portfolio-header {
	border: 1px solid #ececec;
	/* border-bottom: 1px ; */
}

/* кнопки в портфоліо */
.filter-list {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.btn-filter {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	color: #212121;
	cursor: pointer;
	border: none;
	padding: 6px 22px;
	margin-right: 8px;
	background-color: var(--gray-bgr-cl);
	border-radius: 4px;

	transition: background-color 250ms var(--timing-variable), color 250ms var(--timing-variable);
}
.btn-filter:not(first-child) {
	margin-right: 8px;
}
.btn-filter:hover,
.btn-filter:focus {
	background-color: var(--accent-txt-cl);
	color: var(--light-txt-cl);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-filter.active {
	color: var(--primery-white-color);
	background-color: var(--accent-color);
}
.cards {
	display: flex;
	flex-wrap: wrap;
	margin: calc(-1 * var(--csrd-set-marg));
}
.project-list {
	flex-basis: calc((100% - var(--csrd-set-gap) * 3) / 3);
	margin: var(--csrd-set-marg);
}
.project-cards-lin {
	display: flex;
}

.project-list:hover,
.project-list:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-title {
	padding: 20px 24px;
	border: 1px solid var(--color-border-porfolio);
	border-top: none;
}

/* список проектів в портфоліо */
.portfolio-projects {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
	color: var(--dark-txt-cl);
}

.project-cards-link {
	display: block;
	position: relative;
	overflow: hidden;
}
.project-cards-link:hover,
.project-cards-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	cursor: pointer;

	transition-duration: 250ms var(--timing-variable);
}

.card-img {
	position: relative;
	overflow: hidden;
}

.cover-image {
	position: absolute;
	top: 0;
	left: 0;

	transform: translateY(100%);

	display: flex;
	align-items: center;
	justify-content: center;

	transition: transform 250ms var(--timing-variable);
}

.cover-image-text {
	font-size: 18px;
	line-height: 1.56;
	padding: 63px 24px;

	letter-spacing: 0.03em;
	color: var(--light-txt-cl);
	background: rgba(33, 150, 243, 0.9);
}
.project-list:hover .cover-image {
	transform: translateY(0%);
}

.projects-name {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	color: var(--gray-txt-cl);
}

/* портфоліо кінець */

/* footer початок */
.footer {
	background-color: var(--dark-bgr-cl);
	padding-top: 60px;
	padding-bottom: 60px;
}

/* логотип у футері */
.lower-logo {
	font-family: var(--secondary-font);
	color: #2196f3;
}

.footer-logo {
	font-size: 26px;
	line-height: 1.19;
	font-family: var(--secondary-font);
	color: #ffffff;
}
.footer-item {
	margin-bottom: 9px;
}

.footer-item:not(:first-child) {
	margin-bottom: 9px;
}
/* блок контактів у футері */
.section-add {
	font-style: normal;
	margin-top: 20px;
}

.footer-addr {
	line-height: 1.71;
	color: var(--light-txt-cl);
	letter-spacing: normal;
}

.addr {
	font-size: 14px;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;

	transition: color 250ms var(--timing-variable);
}

.addr:hover,
.addr:focus,
.footer-addr:hover,
.footer-addr:focus {
	color: var(--accent-txt-cl);
}

/* section social footer */
.footer-social-thumb {
	margin-left: 70px;
}
.footer-social-title {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--light-txt-cl);
	margin-bottom: 20px;
}
.footer-social-links {
	display: flex;
	height: 44px;
	align-items: baseline;
	padding: 0;
	justify-content: center;
}
.footer-link-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: var(--light-txt-cl);
	background-color: rgba(255, 255, 255, 0.1);

	transition: background-color 250ms var(--timing-variable), color 250ms var(--timing-variable);
}
.footer-social-link:not(:last-child) {
	margin-right: 10px;
}
.footer-link-icon:hover,
.footer-link-icon:focus {
	background-color: var(--background-color-icons);
	color: var(--color-icons);
}

/* footer end */

/* модальне вікно початок */
.background-m {
	opacity: 1;
	visibility: visible;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: 20;
}

.modal {
	position: absolute;
	width: 528px;
	height: 581px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: var(--light-txt-cl);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	z-index: 30;
}

.background-m.is-hidden,
.modal.is-hidden {
	opacity: 0;
	visibility: hidden;
}

.modal-close-btn {
	width: 30px;
	height: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 8px;
	margin-right: 8px;
	margin-left: auto;

	background: var(--light-txt-cl);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	cursor: pointer;
}
.modal-text {
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	color: var(--gray-txt-cl);
}
.modal-tab {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;

	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: var(--gray-txt-cl);
}
.modal-label textarea {
	width: 100%;
	min-height: 120px;
	resize: none;
	margin-top: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;
	margin-bottom: 20px;
}
.modal-label textarea::placeholder {
	font-size: 12px;
	line-height: 1.17px;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}
.terms {
	font-family: inherit;
	line-height: 1.71;
	color: var(--gray-txt-cl);

	color: var(--accent-txt-cl);
	text-decoration: underline;
}

.submit-modal {
	min-width: 200px;
	height: 100%;
	padding: 10px 55px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

	display: flex;
	align-items: center;
	text-align: center;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--accent-text-color);
	background: var(--accent-txt-cl);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-color: transparent;
}
.modal-accepting {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: inherit;
	line-height: 1.71;
	color: var(--secondary-text-color);
}

.confirmation-box-accepting {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.confirmation-box-accepting:checked + .confirmation {
	background-color: var(--accent-txt-cl);
	border-color: #2196f3;
}

.confirmation {
	position: absolute;
	left: 51.5px;
	background-origin: border-box;
}

.box {
	display: inline-block;
	width: 16px;
	height: 15px;
	border: 2px solid var(--primary-text-color);
	margin-right: 8px;
}

.modal-input {
	width: 100%;
	min-height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);

	border-radius: 4px;
	margin-top: 4px;
	padding: 0;
}
.modal-icon {
	position: absolute;
	top: 15px;
	left: 12px;
}
.input-svg {
	position: relative;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-svg:focus-within > .modal-icon {
	fill: var(--accent-txt-cl);
}

.input-svg .modal-input:focus {
	border: 1px solid #2196f3;
}

/* модальне вікно кіець */ ;
